@media (prefers-color-scheme:dark){
    body{
        background-color: #121212;
        color: white;
    }
    
.employee figure{
background-color: #1e1e1e;
}
 
.employee figcaption p{
    color:white;
}

}

h1{
    text-align:center;
font-size:1.8em;
    margin-bottom:1.5em;
}

.about-deets{
    padding-bottom: 2em;
    text-align:center;

    p{
        line-height:1.6;
        max-width:90%;
        margin:0 auto;
    }
}

.team{
    padding:2em;
    text-align: center;

    h2{
        margin-bottom: 2em;
    }
}

.list{
        display:flex;
        flex-direction: column;
        gap:2em;
    }

    .employee{
        max-width: 300px;
        margin:0 5px;
        align-items: center;
    }

  .employee  figure{
           margin: 0;
           display: flex;
           flex-direction: column;
           align-items: center; 
        }

.employee img{
width:150px;
height:150px;
border-radius: 4px;
object-fit: cover;
margin-bottom:0.5em;
}

.employee figcaption p{
    margin:0;
    text-align: center;
}

@media(min-width:768px){
    main{
        padding:2em 4em;
    }

    .about-deets{
        text-align: left;

        h1{
            text-align: left;
        }
    }

    .team h2{
text-align: left;
    }
    

    .list{
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-around;
        gap:3em;
        max-width:1000px;
        margin: 0;
    }

    .employee{
        max-width: 30%;
        margin: 0;
    }

    .employee figure{
        flex-direction: row;
        gap:1em;
        text-align:left;
    }

    .employee img{
        width: 100px;
        height: 100px;
    }

    .employee figcaption{
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


