@media (prefers-color-scheme: dark){
  body{
        background-color:var(--dark-Background);
        color: var(--contrast-text);
    }

    .Learn-more{
        border:2px solid white;
        box-shadow:0 2px 4px white;
    }

    .Learn-more a{
        color:white;
    }

    .Links{
        border:1px solid white;
        background-color: black;
    }

    }

.about-us{
    text-align:center;
    margin-bottom:2em;
}

.about-us .description{
    margin-bottom:1em;
}

.Learn-more{
    display: inline-block;
    border: 2px solid black;
        box-shadow: 0 2px 4px black;

    padding: 0.3em;
    margin-top: 1em;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 70%;
    a{
        text-decoration: none;
        color:black;
        font-weight: 700;
        display: block;
        line-height:1.3;
    }
}

.Other-links{
display: flex;
flex-direction: column;
gap:1.5em;
margin-bottom: 1em;
}

.Links{
    border:1px solid #ddd;
    border-radius: 5px;
    overflow:hidden;
    background-color: white;
    max-width:90%;
    margin:0;
}

.Links figure{
    margin:0;
    position: relative;
    text-align: center;
}

.Links img{
    width:100%;
    height:auto;
    display: block;
}

.Links figcaption{
    position: absolute;
    left: 40%;
    top:70%;
    color:white;
    padding:0.5em;
    text-align:center;
    background: rgba(0,0,0,0.7);
}

.Links figcaption a{
    color:white;
    text-decoration: none;
    font-weight:700;
    display:block;
    font-size:0.9em;
}

.review h2{
    margin-bottom: 2em;
}

.Feedback-box{
    display: flex;
    flex-direction: column;
    gap:1em;
    align-items: center;
}

.Feedbacks{
text-align: center;
max-width: 90%;
width: 100%;
}



@media (min-width:768px){

    .Other-links{
        flex-direction: row;
        justify-content: space-around;
    }

    .Links{
        max-width:30%;
    }

    .Feedback-box{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 100%;
    }

    .Feedbacks{
        max-width: 30%;

    }

    .Links figure img{
        padding:0;
    }

    .Learn-more{
        margin-left: 40%;    }

}