body{
 background-color: #edf5f5;
 font-family:'Lato',sans-serif;
 margin:0;
 padding:0;
}

body p{
font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: black;
}

/* h1{
        font-family: 'Merriweather', 'Open Sans', serif;
            font-size: 22em;
            color:black;
} */
.topBar{    
display:flex;
align-items: center;
 justify-content: space-between;
height:fit-content;
padding:5px 10px;
background-color: #869f9e ;
 border: 6px solid #363636; 
 color:white;
  width:fit-content;

}
.topBar  ul li:nth-child(5){
    display: none;
}
img{
    height:75px;
    width:65px;
    padding-right: 10px;
}

nav p{
    font-family:Helvetica, sans-serif;
    /* display:block; */
    color:white;
    font-size: 1em;
}

nav.topRight{
    gap:30px;
    padding:0;
    margin:0;
} 
.topRight{
font-size:0.7em;
}
nav a{
    font-family:'Lato', 'Roboto', 'Open Sans', sans-serif;
    font-size:0.9em;
    color:white;
    text-decoration: none;
padding: 0 15px;

}
nav ul{
     gap:30px;
    list-style: none;
    display: flex;
    flex-direction: row;
     margin-left: auto;}


footer{
    background-color: #869f9e ;
    padding:10px 20px;
    color:white;
    border: 5px solid #363636; 
    display:flex;
    width:100%;
    height:fit-content;
        justify-content: space-between;

}
footer p{
    color:white;
    font-size: 1em;
}

.align{
    display: flex;
    /* flex-direction: column; */
    gap:5px;
    list-style: none;
    font-family:'Lato', 'Roboto', 'Open Sans', sans-serif;
    width:100%;
}

.align ul{
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
}

@media screen and (min-width:768px){
.topBar{    
    justify-content: space-evenly;
     height:90px;
    padding:10px 20px;
    width:100%;
    /* margin:0 -5px; */
}
.topBar  ul li:nth-child(5){
    display:list-item;
}

img{
    height:95px;
    width:85px;
padding: 80px 11px 75px 1px;
}

.topRight nav p{
font-family:Helvetica, sans-serif;
  font-size: 2em;
  text-align: left;
}

nav.topRight{
    gap:30px;
    padding:0;
    margin:0;
} 
.topRight nav a{
    font-family:'Lato', 'Roboto', 'Open Sans', sans-serif;
    font-size:1em;
    color:white;
    text-decoration: none;
padding: 0 15px;
display:inline-block;
text-align: end;

}
.topRight nav ul{
     gap:30px;
    list-style: none;
    display: flex;
    flex-direction: row;
     margin-left: auto;}


footer{
    border: 5px solid #363636; 
    display:flex;
    /* width:96.9%;
    margin:0 -5px;
    padding:15px 20px;
    height:80px; */
    width: 100%;
    height:fit-content;
        justify-content: space-between;

}
footer ul{
    padding: 0;
    /* display: inline-block; */
    justify-content: flex-end;
}
footer nav p{
    font-size:1.5em;
    margin:0;
    align-items: flex-start;
}

.align{
flex-direction: column;
    gap:10px;
    list-style: none;
    font-family:'Lato', 'Roboto', 'Open Sans', sans-serif;
    
}
}
