:root{
    --dark-Background:black;
    --contrast-text:yellow;
}

body{
    font-family: 'Roboto','Open-sans',sans-serif;
    margin:0;
    padding:0;
    background-color: white;
    color:#000;
}
main{
    padding: 1em;
}

@media (prefers-color-scheme:dark){
    body{
        background-color:var(--dark-Background);
        color: var(--contrast-text);
    }
    nav{
        background-color: #5b7473;
        border-color:   white ;
        color: white;
    }

    .topBar ul .topRight a{
        color: #bbbbbb;
    }

}

nav {
    padding: 5px;
    background-color: #869f9e;
    border: 6px solid #000000;
    color: white;
}

.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding: 5px 10px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.topBar ul li:nth-child(5) {
    display: none;
}

.img figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

img {
    height: 80px;
    width: 75px;
    padding-right: 5px;

}

.img figcaption {
    display: block;
}

.img figcaption p.site-title {
    font-family: 'Helvetica', sans-serif;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    font-weight: 1.1;
    margin: 0;
    margin-right: 15px;
}

/* 
.topBar > .img, .topBar > .site-title{
    display: inline-block;
} */

.topBar ul.topRight {
    font-size: 0.7em;
    display: flex;
    align-items: end;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.topBar ul.topRight a {
    font-family: 'Lato', 'Roboto', 'Open Sans', sans-serif;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    /* display: inline-block; */
}

footer p.footer-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

footer nav ul li {
    text-align: right;
    margin-bottom: 5px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}




@media screen and (min-width:768px) {
    .topBar {
        justify-content: space-between;
        width: 100%;
    }

    .topBar ul li:nth-child(5) {
        display: list-item;
    }

    img {
        height: 75px;
        width: 65px;
        /* padding-right:10px; */
        border: none;
        display: flex;
    }

    .site-title {
        font-family: 'Helvetica', sans-serif;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        font-weight: 1.1;
        margin: 0;
        display: inline-block;
        margin-right: 15px;
    }

    .topBar .topRight:nth-child(2) p {
        font-family: Helvetica, sans-serif;
        font-size: 2em;
        text-align: left;
    }

    .topBar ul.topRight {
        gap: 30px;
        list-style: none;
        display: flex;
    }

    .topBar ul.topRight a {
        color: white;
        text-decoration: none;
        padding: 0 15px;
        display: inline-block;
    }
}