:root{
    --button-color:#869f9e;
    --second-color:#333;
    --border-color:#000;
    --background-color:#fff;
    --font-size-small:0.9em;
}

@media (prefers-color-scheme:dark){
    :root{
        --button-color:#4b6a69;
    }

    body{
        background-color:var(--dark-Background);
        color: var(--contrast-text);
    }

    .tour-list{
        background-color:var(--dark-Background);
        color: var(--contrast-text);
    }

    .tour_title{
        color:var(--second-color);
    }

}

body{
    font-family: 'Roboto','Open-sans',sans-serif;
    margin:0;
    padding:0;
    background-color: var(--background-color);
    color:#000;
}

main{
    padding:10px;
    overflow: hidden;
    clear:both;
}
.current-tours, .coming-soon{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding:0;
}

.tour-list{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    background-color: whitesmoke;
    width:100%;
    box-sizing: border-box;
    gap:10px;
    margin-bottom: 10px;
}

.tour-choices{
    width:100%;
    max-width: 600px;
    margin:0 auto;
    padding:0 15px;
    box-sizing: border-box;
}

h2{
    font-family: 'Merriwather';
    text-align:center;
    margin:20px 0;
    font-size:2em;
    font-weight: 700;
}




.tour_img{
    width:70px;
    height:70px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour_image{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 5%;
}

.tour-details{
    padding-left:15px;
    padding-right:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1
    ;
}

.tour_title{
font-weight: bold;
    color:var(--second-color);
    margin: 0;
}

.book-now{
    position:absolute;
    bottom:10px;
    right:10px;
    background-color: var(--button-color);
    color:white;
    border:none;
    border-radius: 5px;
    padding:5px 10px;
    font-weight: 700;
    font-size: var(--font-size-small);
    z-index: 10;
}

.coming_soon_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:5px;
    margin-bottom: 20px;
    width:100%;
}

.coming_soon_img .tour_img{
    width: 80px;
    height:80px;
}

 .Cimg{
    border-radius: 5%;
      width: 120px;
    height:120px;
}

@media (min-width:768px){
    

 .tour-choices, .coming-soon{
    max-width: 900px;
    padding:0;
 }

 .tour-choices{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;
 }

 .tour-list{
    border-radius: 0;
    width:100%;
    height:100%;
    margin-bottom:5px;
    border:2px solid black;
 }

 .coming-soon h2{
    align-self: flex-start;
    /* margin-left: 40px; */

 }

 .stack{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    gap:30px;
 }

 .comming_soon_img{
    margin-right: 15px;;
    width:30%;
    max-width:none;
 }

 .coming_soon_img .tour-img{
    width:90px;
    height:90px;
 }


}